<h2><%= (User.find(session[:user_id]).name)%>'s Favorite Bars</h2>

<div class="container-fluid" >
    <div class="span4">
        <% User.find(session[:user_id]).favoritebars.each do |bar| %>
       <p class ="clear">
             <a href="/favoritebar/<%=bar.id%>"><%=bar.name%></a></br>
             <%= button_to "Delete", {:controller => :favoritebar,
      :action => 'destroy', :id => bar.id }, :method => :delete %>
          <% end %>
       </p>
     </div>
    </div>
      <div class="span8">
        <%= gmaps4rails(@json) %>
      </div>
</div>

