<h2><%=current_user.name %>'s Favorite Bars</h2>

<h2><%= @bar.name %></h2>

<img src="<%= @bar.img_url %>">
Address: <h2>"<%= @bar.address %>,<%= @bar.city %>"</h2></br>
Phone: <%= @bar.phone %>


<%= gmaps4rails(@json) %>