  <h2><%=current_user.name %>'s Favorite Bars</h2>

  <h3><%= @bar.name %></h3>
<div class="container-fluid" >
  <div class="row-fluid">
      <div class="span2">
        <%=image_tag(@bar.img_url) %>
        Address: <%= @bar.address %>,<%= @bar.city %></br>
        Phone: <%= @bar.phone %>
      </div>
    <div class="span10">
    <p = class="darby">
     <%= gmaps4rails(@json) %>
      </p>
    </div>
  </div>
</div>

