<nav>
<%= link_to "Neighborhoods", neighborhoods_path %></a> ||
<%= link_to "Favorite Bars", favoritebar_index_path %></a> ||
<%= link_to "Users", users_path%></a> ||
<% if current_user %>
    Logged in as <%= current_user.name %>.
    <%= link_to "Log out", log_out_path %> ||
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</nav>