

  <h2>The Top Bars for <%=@neighborhood.name%></h2>
    <% @bars.each do |bar| %>
  <p class ="clear">
      <a href="/neighborhood/<%= @neighborhood.id %>/bar/<%= bar['id']%>"><%= bar['name']%><br/>
        <img src="<%= bar['image_url'] %>"><br/>
        <img src="<%= bar['rating_img_url_small'] %>">
      </a>
  </p>
  <% end %>



